name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main

jobs:
  generate-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Doxygen
      run: choco install doxygen -y

    - name: Generate Documentation
      run: doxygen Doxyfile

    - name: Deploy Documentation to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/html
        publish_branch: main
