name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  generate-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Doxygen and Graphviz
        run: sudo apt update && sudo apt install -y doxygen graphviz

      - name: Ensure docs folder exists
        run: mkdir -p docs

      - name: Ensure Doxyfile exists
        run: |
          if [ ! -f docs/Doxyfile ]; then
            doxygen -g docs/Doxyfile
            sed -i 's|OUTPUT_DIRECTORY       =|OUTPUT_DIRECTORY       = docs/html|' docs/Doxyfile
            sed -i 's|GENERATE_HTML          = NO|GENERATE_HTML          = YES|' docs/Doxyfile
          fi

      - name: Generate Documentation
        run: doxygen docs/Doxyfile

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload documentation artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/html

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 
